In [1]:
# importing required libraries
import pandas as pd
import numpy as np

In [2]:
# reading the dataset
data = pd.read_csv("melb_data.csv")

#removing unneccesary columns
data.drop(columns=['Unnamed: 0','Address','CouncilArea','Regionname'],inplace=True)

# checking data using shape, describe(), info(), nunique(),isnull()

In [3]:
data.shape

(18396, 18)

In [4]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,18396.000000,1.839600e+04,18395.000000,18395.000000,14927.000000,14925.000000,14820.000000,13603.000000,7762.000000,8958.000000,15064.000000,15064.000000,18395.000000
mean,2.935040,1.056697e+06,10.389986,3107.140147,2.913043,1.538492,1.615520,558.116371,151.220219,1965.879996,-37.809849,144.996338,7517.975265
std,0.958202,6.419217e+05,6.009050,95.000995,0.964641,0.689311,0.955916,3987.326586,519.188596,37.013261,0.081152,0.106375,4488.416599
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.330000e+05,6.300000,3046.000000,2.000000,1.000000,1.000000,176.500000,93.000000,1950.000000,-37.858100,144.931193,4294.000000
50%,3.000000,8.800000e+05,9.700000,3085.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.803625,145.000920,6567.000000
75%,3.000000,1.302000e+06,13.300000,3149.000000,3.000000,2.000000,2.000000,651.000000,174.000000,2000.000000,-37.756270,145.060000,10331.000000
max,12.000000,9.000000e+06,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18396 entries, 0 to 18395
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         18396 non-null  object
 1   Rooms          18396 non-null  int64
 2   Type           18396 non-null  object
 3   Price          18396 non-null  float64
 4   Method         18396 non-null  object
 5   SellerG        18396 non-null  object
 6   Date           18396 non-null  object
 7   Distance       18395 non-null  float64
 8   Postcode       18395 non-null  float64
 9   Bedroom2       14927 non-null  float64
 10  Bathroom       14925 non-null  float64
 11  Car            14820 non-null  float64
 12  Landsize       13603 non-null  float64
 13  BuildingArea   7762 non-null   float64
 14  YearBuilt      8958 non-null   float64
 15  Lattitude      15064 non-null  float64
 16  Longtitude     15064 non-null  float64
 17  Propertycount  18395 non-null  float64
dtypes: float64(12), int64(1), object(5)
memory usage: 2.5+ MB

In [6]:
data.nunique()

Suburb            330
Rooms              11
Type                3
Price            2470
Method              5
SellerG           305
Date               58
Distance          210
Postcode          205
Bedroom2           12
Bathroom            9
Car                11
Landsize         1449
BuildingArea      613
YearBuilt         144
Lattitude        7518
Longtitude       8168
Propertycount     324
dtype: int64

In [7]:
data.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          3469
Bathroom          3471
Car               3576
Landsize          4793
BuildingArea     10634
YearBuilt         9438
Lattitude         3332
Longtitude        3332
Propertycount        1
dtype: int64

In [8]:
data.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,Abbotsford,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.7996,144.9984,4019.0
1,Abbotsford,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.8079,144.9934,4019.0
2,Abbotsford,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.8093,144.9944,4019.0
3,Abbotsford,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.7969,144.9969,4019.0
4,Abbotsford,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.8072,144.9941,4019.0

# removing the null values for high performance and accuracy

In [9]:
data.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          3469
Bathroom          3471
Car               3576
Landsize          4793
BuildingArea     10634
YearBuilt         9438
Lattitude         3332
Longtitude        3332
Propertycount        1
dtype: int64

In [10]:
l=data.isnull().sum()
l

Suburb               0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          3469
Bathroom          3471
Car               3576
Landsize          4793
BuildingArea     10634
YearBuilt         9438
Lattitude         3332
Longtitude        3332
Propertycount        1
dtype: int64

In [11]:
#getting columns names in list

column_names = list(data.columns.values)
column_names

['Suburb',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [12]:
#deleting columns who does not have null value 

del column_names[0:7]

In [13]:
column_names

['Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [14]:
#filling null values by their mean 

for i in column_names:
    data[str(i)].fillna(data[str(i)].mean(),inplace=True)

In [15]:
nan=data.isnull().sum()
nan

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
Lattitude        0
Longtitude       0
Propertycount    0
dtype: int64

In [16]:
'''Lets do the preprocessing i.e
   label encoding for required columns 

'''

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [17]:
# before fitting the data
data['Suburb'].head()

0    Abbotsford
1    Abbotsford
2    Abbotsford
3    Abbotsford
4    Abbotsford
Name: Suburb, dtype: object

In [18]:
# lets fit the data
le.fit(data['Suburb'])

LabelEncoder()

In [19]:
#apply fit_transform for training and converting data in to datapoint
data['Suburb']=le.fit_transform(data['Suburb'])

In [20]:
# after fitting the data
data['Suburb'].head()

0    0
1    0
2    0
3    0
4    0
Name: Suburb, dtype: int32

In [21]:
'''It is very tedious and time consuming method to apply fit_tranform on each columns on dataset 
   lets make it easy, now we will write a feunction for fit_tranform all columns. as we have the list of columns_names '''

columns=['Type','SellerG','Method','Type','Date']

def encode(columns):
    data[i]=le.fit_transform(data[i])
    
for i in columns:
    encode(i)

In [22]:
# now we have done lebelEncoding now lets split data into dependent and independent features
other_attribute = data.drop(columns='Price')

In [23]:
other_attribute

,Suburb,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,0,2,0,1,29,45,2.5,3067.0,2.0,1.0,1.0,202.000000,151.220219,1965.879996,-37.79960,144.99840,4019.0
1,0,2,0,1,29,47,2.5,3067.0,2.0,1.0,0.0,156.000000,79.000000,1900.000000,-37.80790,144.99340,4019.0
2,0,3,0,3,29,48,2.5,3067.0,3.0,2.0,0.0,134.000000,150.000000,1900.000000,-37.80930,144.99440,4019.0
3,0,3,0,0,29,48,2.5,3067.0,3.0,2.0,1.0,94.000000,151.220219,1965.879996,-37.79690,144.99690,4019.0
4,0,4,0,4,178,49,2.5,3067.0,3.0,1.0,2.0,120.000000,142.000000,2014.000000,-37.80720,144.99410,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,320,2,1,3,100,33,6.8,3016.0,2.0,2.0,1.0,558.116371,89.000000,2010.000000,-37.86393,144.90484,6380.0
18392,320,4,0,0,254,33,6.8,3016.0,4.0,1.0,5.0,866.000000,157.000000,1920.000000,-37.85908,144.89299,6380.0
18393,326,4,0,1,38,33,12.7,3085.0,4.0,3.0,2.0,558.116371,151.220219,1965.879996,-37.72006,145.10547,1369.0
18394,328,4,0,3,273,33,6.3,3013.0,4.0,1.0,1.0,362.000000,112.000000,1920.000000,-37.81188,144.88449,6543.0
18395,328,4,0,4,273,33,6.3,3013.0,4.0,2.0,2.0,558.116371,139.000000,1950.000000,-37.81829,144.87404,6543.0

In [24]:
target=data['Price'].copy()

In [25]:
target

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
18391     622500.0
18392    2500000.0
18393    1100000.0
18394    1285000.0
18395    1050000.0
Name: Price, Length: 18396, dtype: float64

# Now performing the Training and testing by splitting data into two part i.e. train and test

In [26]:
data.shape

(18396, 18)

In [27]:

other_attributeTrain,other_attributeTest=other_attribute[0:16000],other_attribute[16000:]

targetTrain,targetTest=target[0:16000],target[16000:]

In [28]:
other_attributeTrain.shape, other_attributeTest.shape

((16000, 17), (2396, 17))

In [29]:
targetTrain.shape, targetTest.shape

((16000,), (2396,))

# Now apply linear regression

In [30]:
# importing LinearRegression from sklearn.linear_model
from sklearn.linear_model import LinearRegression

In [31]:
lr_model=LinearRegression()

In [32]:
lr_model

LinearRegression()

In [33]:
#for fitting the instance 
lr_model.fit(other_attributeTrain,targetTrain)

LinearRegression()

In [42]:
prediction=lr_model.predict(other_attributeTest)
prediction

array([1202162.92065951,  470180.32614878,  541381.48795685, ...,
       1436168.80542582, 1234171.89150524, 1421985.1053696 ])

In [43]:
# we got the result in the form of array lets convert it in to dataframe 
pred_df = pd.DataFrame(prediction)
pred_df

                 0
0     1.202163e+06
1     4.701803e+05
2     5.413815e+05
3     9.888291e+05
4     4.718581e+05
...            ...
2391  7.079298e+05
2392  1.565953e+06
2393  1.436169e+06
2394  1.234172e+06
2395  1.421985e+06

[2396 rows x 1 columns]

In [44]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [47]:
mae = mean_absolute_error(targetTest,pred_df)
msq=mean_squared_error(targetTest,pred_df)
print('mean absolute error is :',mae)
print('mean squared error is:',msq)

mean absolute error is : 292331.4991874459
mean squared error is: 392465473159.13324